# basic js installations
/node_modules/
/in-progress/
/venv/
.env*
.vscode/
.personal/
__*/ # ignore all folders starting with an underscore
.hintrc
.uploads
.tmp
.DS_Store
.code-workspace
.postman
postman
